.container {
    display: grid;
    width: 960px;
    height: 960px;
    border: 1px solid black;
  
    
    
}

.medium-div {
    display: grid;        
} 

.small-div {
    border: .1em solid rgb(41, 40, 40);
    
}


